/* Fonts */ 
 
:root { 
	/* ========== Colors ========== */ 
	--bg-black-color: #1E212A; 
	--ui-color: #1E213A; 
	--text-color-main: #F9BD32; 
	--text-color-light: #fff; 
	--text-color-black: #000; 
	
	/* ========== Font and Typography  ========== */ 
	--body-font: "Rubik", sans-serif; 
	--text-font: "Federo", sans-serif; 
	--biggest-font-size: 128px; 
	--h1-font-size: 64px; 
	--h2-font-size: 50px; 
	--p-font-size: 24px; 
	--normal-font-size: 20px; 
	--small-font-size: 18px; 
	
	/* ========== Font Weight  ========== */ 
	--font-regular: 400; 
	--font-medium: 500; 
	--font-bold: 700; 
 }
 /* GENERAL CSS */ 
* { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	text-decoration: none; 
	box-sizing: border-box; 
 } 
	
 html { 
	scroll-behavior: smooth; 
 } 
	
 body { 
	font-family: var(--body-font); 
	background-color: var(--bg-black-color); 
 } 
	
 button, 
 input { 
	outline: none; 
	border: none; 
 } 
	
 .container { 
	margin: 0 auto; 
	padding: 0 20px; 
	max-width: 1480px; 
 } 
 /* Hidden Class Element */ 
 .hidden { 
	display: none; 
 }