/* Fonts */ 
 
:root { 
	/* ========== Colors ========== */ 
	--bg-black-color: #1E212A; 
	--ui-color: #1E213A; 
	--text-color-main: #F9BD32; 
	--text-color-light: #fff; 
	--text-color-black: #000; 
	
	/* ========== Font and Typography  ========== */ 
	--body-font: "Rubik", sans-serif; 
	--text-font: "Federo", sans-serif; 
	--biggest-font-size: 128px; 
	--h1-font-size: 64px; 
	--h2-font-size: 50px; 
	--p-font-size: 24px; 
	--normal-font-size: 20px; 
	--small-font-size: 18px; 
	
	/* ========== Font Weight  ========== */ 
	--font-regular: 400; 
	--font-medium: 500; 
	--font-bold: 700; 
 }

 /* GENERAL CSS */ 
* { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	text-decoration: none; 
	box-sizing: border-box; 
 } 
	
 html { 
	scroll-behavior: smooth; 
 } 
	
 body { 
	color: #fff;
	font-family: var(--body-font); 
	background-color: var(--bg-black-color); 
 } 
	
 button, 
 input { 
	outline: none; 
	border: none; 
 }

 a,
 ul{
	text-decoration: none;
	list-style: none; 
	color: white;
 }
	
 .container { 
	margin: 0 auto; 
	padding: 0 20px; 
	max-width: 1480px;
 } 
 /* Hidden Class Element */ 

 .hidden { 
	display: none; 
 }

 /* Hamburger Element */

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
	cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--text-color-main);
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
 
.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

